body {
  background-color: #c6c6c6; /* Change this value to your desired background color for the page */
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #062454; /* Original blue color #4848f5 */
  padding: 10px;
  height: 100px;
  border-radius: 0; /* Remove border radius to make it span full width */
  width: 100vw; /* Make sure it takes the full width of the viewport */
  margin: 0; /* Remove any margin */
}

.navbar-title {
  color: white;
  font-size: 30px;
}

.dropdown-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  margin: 0 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4848f5; /* Original blue color #4848f5 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3838d8; /* Original hover color */
}

/* Align the button to the right of the table */
.download-button {
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #4848f5; 
  color: white;
}

.download-button:hover {
  background-color: #3838d8; /* Darken the original blue color for hover effect */
}

.sorting-button {
  float:center;
  background-color: #d8d8d8; 
  color: black;
}

.sorting-button:hover {
  background-color: #bebebe; 
}

.clear-sorting-button {
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #4848f5; 
  color: white;
}

.clear-sorting-button:hover {
  background-color: #3838d8;
}