/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4848f5;
    padding: 10px;
    height: 100px;
  }
  
  .navbar-title {
    color: white;
    font-size: 30px;
  }
  
  body {
    background-color: #c6c6c6; /* Change this value to your desired background color for the page */
  }